.Rozha-One {
    font-family: 'Rozha One', serif;
  }

.Fira+Sans {
    font-family: 'Fira+Sans', serif;
}

.upper {
    text-transform: uppercase;
  }

  .blue {
    color: #337ab7;
  }
  
  .grey {
    color: #8a8484;
  }
  
  .light-grey {
    color: #c4c4c4;
  }

  .wite {
    color: #fbf9f9;
  }

  .wide {
    letter-spacing: .5rem;
  }


/*//////////HEADER//////////*/
header {
    height: 100vh;
    background-image: url('../img/header4.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }

  #logo-header img {
    width: 10%;
    margin-left: 51rem;
    margin-top: 10px;
  }

  #header-wrapper h1,p {
    text-align: center;
  }

  #header-wrapper h1 {
    font-size: 41px;
  }

  #header-wrapper p {
    margin: 0 9rem;
  }

  #header-wrapper {
    margin-top: 7rem;
  }

/* //////////HEADER AND////////// */
 .row {
   margin-left: -15px;
   margin-right: -15px;
 }

 .line {
   width: 100%;
   height: 2px;
   background: #337ab7;
   border: 0;
   margin-top: 13rem;
 }

 .text {
   margin-top: 10rem;
   padding-left: 0;
 }

 .img01  {
   display: block;
   width: 100%;
   height: 300px;
   margin-top: 7rem;
 }

 .text h2 {
   line-height: 0.3;
   text-align: left;
   margin-right: 4rem;
 }
   
.slesh {
   font-size: 68px;
 }

 .text h2:nth-child(1) {
   font-size: 48px;
 }

 .text h2:nth-child(2) {
  font-size: 30px;
}

.text h2:nth-child(3) {
  font-size: 30px;
}

.text p {
  text-align: left;
  margin: 30px 0 10px;
}

.img02  {
  display: block;
  width: 100%;
  height: 300px;
  margin-top: 7rem;
}

#second-article {
  margin-top: 10rem;
}

.text2 {
  margin-top: 10rem;
  padding-left: 0;
}

.text2 h2 {
  line-height: 0.3;
}

.text2 h2:nth-child(1) {
  font-size: 48px;
  text-align: right;
}

.text2 h2:nth-child(2) {
 font-size: 30px;
 text-align: left;
}

.text2 h2:nth-child(3) {
 font-size: 30px;
 text-align: left;
}

.text2 p {
 text-align: left;
 margin: 30px 0 10px;
}

.text-center {
  text-align: center;
}

.text3 {
  margin-top: 10rem;
  padding-left: 0;
}

.text3 h2 {
  line-height: 0.3;
}

.text3 h2:nth-child(1) {
  font-size: 48px;
  text-align: center;
}

.underline {
  border-bottom: 2px solid #337ab7;
}

.text3 h2:nth-child(2) {
 font-size: 30px;
 padding-top: 10px;
 text-align: center;
}

.text3 h2:nth-child(3) {
 font-size: 30px;
 text-align: center;
}

.text3 hr {
margin-bottom: 20px;
margin-top: -14px;
border: 0;
border-top: 2px solid #337ab7;
width: 26%;
margin-left: 493px;
padding-top: -10px;
}

#text-mod { 
  margin-left: 500px;
 } 

.img41 {
  height: 255px;
  width: 73%;
  /* margin: 0 auto; */
}

.float-left {
  float: left;
  margin-left: 155px;
}

.float-right {
  float: right;
  margin-right: 155px;
}

#fourth-article {
  margin-top: 10rem;
}

#second-img {
  margin-top: 2rem;
}

#third-img {
  margin-top: 2rem;
}

#third-img .img42, .block-transition {
  position: relative; 
  width: 73%;  
  height: 255px;
}

#third-img .img42{ 
  z-index: 1;
 } 

.block-transition {
  background-color: blue;
  border: none;
  opacity: 0;
  margin-left: -5px;
  z-index: 2; 
  transition: 3s linear;
}

.block-transition:hover {               
  opacity: 1;
 }   

.block-transition h4,h6 {
  text-align: center;
  color: white;
 } 

.block-transition h4 {
   position: absolute;
   top: 82px;
   left: 150px;
 } 

 .block-transition h6 {
   font-size: 10px;
   position: absolute;
   top: 112px;
   left: 188px;
   }

 #quote {
   margin-top: 20rem;
 }

 #quote p {
   font-size: 20px;
   padding: 0 250px;
 }

 #fifth-article {
   margin-top: 10rem;
 }

 #email,#skype {
   margin-top: 17rem;
 }

 #skype p  {
   font-size: 11px;
   text-align: left;
 }

 #email p  {
  font-size: 11px;
  text-align: left;
}

#sixth-article {
  margin-top: 5rem;
}

#contact-me p  {
  text-align: left;
  margin-left: -15px; 
}

#social p  {
  text-align: left;
  margin-left: 0px;
}

#tel p  {
  text-align: left;
  margin-left: 0px;
}

#resume input {
  height: 5rem;
  text-align: center;
  font-family: 'Rozha One';
  color: #337ab7;
  text-transform: uppercase;
  width: 60%;
}

#last p {
  width: 60%;
  text-align: center;
  margin-top: 1rem;
}

.footer {
  height: 50vh;
  background-image: url('../img/header4.jpg');
  /* background-position: 50% 50%; */
  background-size: cover;
}

#logo-wrapper1 p {
  text-align: center;
  margin-top: -12px;
}

#logo-wrapper img {
  width: 10%;
  margin-top: 20px;
  margin-left: 53rem;
}